.vagrant/
.vscode/
example/image_viewer/image_viewer
example/ts_viewer/ts_viewer
example/ptgrey/ptgrey
example/webcam/webcam
example/sync/sync
example/sync_request/sync_request
example/save_images/save_images